*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Kanit', sans-serif;
}


.container {
width:1300px;
margin: 0 auto;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

/*nav*/

nav {
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),0 0 2px rgba(0 0 0 / 7%);
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.nav-left{
    display:flex;
    align-items: center;
}

.nav-left ul{
    display: flex;
    align-items: center;
}

.nav-left ul li {
    margin-left: 20px;
}

.nav-left ul li a{
    font-size: 25px;
    text-decoration: uppercase;
    color: #181A18;
}

.nav-left ul li a:hover{
    color: #00754A;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.nav-right .location:hover {
   color: #00754A; 
}

.nav-right .location span {
    margin-left: 10px; 
 }

.location img {
    height:20px;
}

.nav-right button {
    margin-left: 20px;
}

.btn{
   
    padding: 6.4px 16px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}

.btn-primary{
    border: 1px solid rgba(0,0,0, .87);
}

.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0.07);
}

.btn-secondary{
    background-color: #181A18;
    color: white;
}

.btn-secondary:hover{
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.07);
}

/*main content*/

.box{
    margin-top: 32px;
}

.box .container{
    display: flex;
}

.box-text{

    width: 50%;
    padding: 32px 80px;
    background-color: #1e3932;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-text h1{
    font-size: 50px;
}

.box text p{
    margin-top:60px;
    margin-bottom: 32px;
    font-size: 24px;
}

.box-img{
width: 50%;
}

.box-img img{
    height: 100%;
    width: 100%;
}

.lg{
    font-size: 36px !important;
}

.p-lg{
    font-size: 16px !important;
}

.mt-0{
    margin-top: 0 !important;
}

.box-secondary .container{
flex-direction: row-reverse;
}

.mp-1 {
   margin-bottom: 32px; 
}

.box-light{
    background-color: #d4e9e2;
    color:#181a18;
}
.box-light h1{
    font-weight: normal;
}

.btn-white{
    margin-top:20px;
    border-color: #fff;
    color: #fff;

}

/*footer*/


.site-footer
{
    
    margin-top: 25px;
  background-color:#0E382C;
  padding:45px 0 20px;
  font-size:25px;
  line-height:50px;
  color:#000000;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(255, 255, 255);
  font-size:35px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#000000;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#1d1e1f;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:70px;
  height:70px;
  line-height:70px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#ffffff;
  font-size:25px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#1e8e29
}
.social-icons.size-sm a
{
  line-height:50px;
  height:50px;
  width:50px;
  font-size:14px;
}
.social-icons a.facebook:hover
{
  background-color:#000000
}
.social-icons a.twitter:hover
{
  background-color:rgb(0, 0, 0)
}
.social-icons a.linkedin:hover
{
  background-color:rgb(0, 0, 0)
}
.social-icons a.dribbble:hover
{
  background-color:#000000
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}